
@mixin bordure($border_color,$border_size,$border_radius){
    border-color: $border_color;
    border:$border_size solid ;
    border-radius: $border_radius;
}
@mixin bouton($bg_color,$label_color,$label_size ){
    font-size: $label_size;
    background-color: $bg_color;
    color: $label_color;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.hero_banner_primary{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    overflow: hidden;
    
    img{
        height: 100%;
        width:auto;
        object-fit: cover;
        display: block
    }
    .hero_banner_primary__buton{
    @include bordure(hotpink,3px,12px);
    @include bouton(white,hotpink,25px);
    &:hover{
        @include bordure(white,3px,12px);
        @include bouton(hotpink,white,25px);
    }
}
}

.hero_banner_primary__call_to_action {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    gap: 5px;
    transform: translate(-50%,-50%);

    
}
.Carrousel_primary {
    width: 40vh;
    margin: auto;
    img {
        height: 40vh;
        
    }
}