@mixin bordure($border_color,$border_size,$border_radius){
    border:$border_size solid ;
    border-color: $border_color;
    border-radius: $border_radius;
}
@mixin bouton($bg_color,$label_color,$label_size ){
    font-size: $label_size;
    background-color: $bg_color;
    color: $label_color;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.hero_banner_primary{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    overflow: hidden;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    overflow: hidden;
    
    img{
        height: 100%;
        width:auto;
        object-fit: cover;
        display: block
        height: 100%;
        width:auto;
        object-fit: cover;
        display: block
    }
    .hero_banner_primary__buton{
    @include bordure(hotpink,3px,12px);
    @include bouton(white,hotpink,25px);
    &:hover{
        @include bordure(white,3px,12px);
        @include bouton(hotpink,white,25px);
    }
}
}

.hero_banner_primary__call_to_action {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    gap: 5px;
    transform: translate(-50%,-50%);

    
}
.Carrousel_primary {
    width: 40vh;
    margin: auto;
    img {
        height: 40vh;
        
    }
}
.Product_grid_primary {
    width: 80;
    margin: auto;
    display: grid;
    grid-row: 4;
    grid-column: 4;
}
.Product_grid_primary__product_card{
    height: 240px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    @include bordure(hotpink, 2px ,5px );

    .Product_grid_primary__product_card__title{
        top: 5px;
        height: 25px;
        width: 100%;
        border-bottom: 2px solid black;
        text-align: center;
        
    }
    img{
        height: 190px;
    }
    h4 {
        margin:5px;
    }
    .Product_grid_primary__product_card__price{
        border-top: 2px solid black;
        width: 100%;
        height: 25px;
        text-align: center;
        margin-top: auto;
    }
}